body {
    background-color: black;
}


.globalDiv {
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: #63DAFC;
    background-color: black;
    height: 110px;
    width: 240px;
    margin: 20px;
    padding: 5px;
    text-align: center;
}

.red {
    color: red;
}

.screen {
    height: 60px;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: #63DAFC;
    background-color: black;
    margin: 5px;
    border-radius: 5px;
    padding: 1px;
    color: #63DAFC;
}

.screen input{
    width: 60px;
}

.buttons {
    border-style: solid;
    border-width: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 5px;
    border-color: #63DAFC;
}

.button {
    display: inline;
    margin: 5px;
    width: 50px;
    background-color: #63DAFC;
    border-radius: 5px;
}

